<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="../assets/global.css" />
  <link rel="stylesheet" href="../assets/cart.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas Neue:wght@400&display=swap" />



</head>

<body>

  <div class="cart">
    <div class="navbar">
      <div class="logo">
        <img class="logo-icon" alt="" src="../public/public@2x.png">

      </div>
      <div class="links">
        <a class="home" href="./Main2">
          <div class="items">Home</div>
        </a>
        <a class="home" href="./profile">
          <div class="items">Profile</div>
        </a>
        <a class="home" href="./appointment">
          <div class="items">Appointment</div>
        </a>
        <a class="home" href="./search">
          <div class="items">Search</div>
        </a>
        <a class="home" href="./checkout">
          <div class="items">Bill</div>
        </a>
      </div>
      <div class="cart-icon-parent">
        <a class="cart-icon" href="#">
          <div class="logo">
            <img class="shopping-bag-line-2-icon" alt="" src="../public/shoppingbagline-2.svg">
            <span class="items active">
              <%= arrayItem.length %> items
            </span>
          </div>

        </a>
        <button class="logout">
          <button class="button">
            <div class="button1">Logout</div>
          </button>
        </button>
      </div>
    </div>
    <div class="main-section">
      <div class="section">
        <div class="prdouct-tag-parent">
          <p class="prdouct-tag">
          <div class="product">Product</div>
          </p>
          <p class="prdouct-tag">
          <div class="product">Quantity</div>
          </p>
          <p class="prdouct-tag">
          <div class="product">Price</div>
          </p>
        </div>
        <div class="checkbox-parent">
          <input class="checkbox" type="checkbox" data="<%= JSON.stringify(arrayItem) %>">

          <p class="prdouct-tag">
          <div class="product">Select all</div>
          </p>
        </div>
        <!-- !!!!!! -->

        <% arrayItem.forEach((element,index)=> { %>
          <div class="product-list">
            <input class="checkbox" type="checkbox" data-index="<%= index %>" data="<%= JSON.stringify(element) %>">

            <div class="product-information">
              <h5 class="name">
                <b class="product">
                  <%= element.PRODUCT_NAME %>
                </b>
              </h5>
              <div class="logo">
                <div class="product">
                  <%= element.PRODUCT_TYPE %>
                </div>
              </div>
              <div class="logo">
                <div class="product">
                  <%= element.PHARMACY_NAME %>
                </div>
              </div>
              <div class="logo">
                <div class="product">
                  <%= element.PRODUCT_PRICE %>
                    <span class="span"> </span>
                    <span>Taka</span>
                </div>
              </div>
            </div>
            <div class="quantity-increase-button">
              <button class="button2 decrease" data-index="<%= index %>">-</button>
              <div class="quantity1">
                <div class="product quantity-det">
                  <%= element.order_quantity %>
                </div>
              </div>
              <button class="button2 increase" data-index="<%= index %>">+</button>
            </div>
            <div class="total-price">
              <div class="product">
                <span class="product-price" data-product-price="<%= element.PRODUCT_PRICE %>">
                  <%= element.order_quantity * element.PRODUCT_PRICE %>
                </span>
                <span class="span"> </span>
                <span>Taka</span>
              </div>
            </div>
          </div>

          <% }) %>
      </div>
      <div class="checkout">
        <div class="subtotal">
          <div class="logo">
            <b class="product">Subtotal</b>
          </div>
          <div class="amount">
            <div class="logo">
              <div id="total-price-div" class="product" data="<%= JSON.stringify(arrayItem) %>">0</div>
            </div>
            <div class="logo">
              <div class="product">Taka</div>
            </div>
          </div>
        </div>
        <div class="subtotal">
          <div class="logo">
            <div class="product">Shipping</div>
          </div>
          <div class="amount1">
            <div class="logo">
              <div class="product">
                <span id="shipping">0</span>
                <span class="span4"> </span>
              </div>
            </div>
            <div class="logo">
              <div class="product">Taka</div>
            </div>
          </div>
        </div>
        <div class="vat">
          <div class="logo">
            <div class="product">VAT</div>
          </div>
          <div class="amount1">
            <div class="logo">
              <div class="product">
                <span id="vat">0</span>
                <span class="span4"> </span>
              </div>
            </div>
            <div class="logo">
              <div class="product">Taka</div>
            </div>
          </div>
        </div>
        <div class="checkout-child">
        </div>
        <div class="subtotal">
          <div class="logo">
            <b class="product">Total</b>
          </div>
          <div class="amount1">
            <div class="logo">
              <div class="product">
                <span id="all-total">0</span>
                <span class="span4"> </span>
              </div>
            </div>
            <div class="logo">
              <div class="product">Taka</div>
            </div>
          </div>
        </div>
        <button class="button10" id="button9">
          <b class="button1">Checkout</b>
        </button>
      </div>
    </div>
    <input type="hidden" name="hiddenData" id="hiddenData" value="">
    <footer class="footer">
    </footer>
  </div>




  <script>

    // document.getElementById('total-price-div').textContent=total;
    // let vat=totalPrice*0.15;
    // document.getElementById('vat').textContent=vat;

    // let allTotal=totalPrice+20+vat;
    // document.getElementById('all-total').textContent=allTotal;

    let productCheckbox = document.querySelectorAll('.product-list .checkbox');
    let selectAllCheckbox = document.querySelector('.checkbox-parent .checkbox');
    selectAllCheckbox.addEventListener('change', event => {
      if (selectAllCheckbox.checked) {
        productCheckbox.forEach(check => {
          check.checked = true;
        })

      }
      else {
        productCheckbox.forEach(check => {
          check.checked = false;
        })

      }

      updateProductTotal();
      insertProductInfo();
    });


    productCheckbox.forEach((check) => {
      check.addEventListener('change', event => {
        if (check.checked) {
          // var index = check.getAttribute('data-index');
          // var initialProductPrices = document.querySelectorAll('.product-price')[index];
          // // initialProductPrices.forEach((price, index) => {
          // var productPrice = initialProductPrices.getAttribute('data-product-price');
          // var quantity = document.querySelectorAll('.quantity-det')[index].textContent;
          // productTotal += parseInt(quantity) * parseInt(productPrice);

          // document.getElementById('total-price-div').textContent = productTotal;
          // let vat = productTotal * 0.15;
          // document.getElementById('vat').textContent = vat;

          // let allTotal = productTotal + 20 + vat;
          // document.getElementById('all-total').textContent = allTotal;
          // // });

          updateProductTotal();
          insertProductInfo();
        }

      })
    })


    let total = 0;
    let productTotal = 0;
    var decreaseButton = document.querySelectorAll('.decrease');
    decreaseButton.forEach(button => {
      button.addEventListener('click', event => {
        var index = button.getAttribute('data-index');
        var quantity = document.querySelectorAll('.quantity-det')[index];
        if (quantity.textContent > 1) quantity.textContent--;

        var productPrice = document.querySelectorAll('.product-price')[index].getAttribute('data-product-price');
        var productPriceTotal = parseInt(quantity.textContent) * parseInt(productPrice);

        document.querySelectorAll('.product-price')[index].textContent = productPriceTotal;
        // productTotal = productPriceTotal;
        // if (total > 0) productTotal -= productPriceTotal;

        let element = JSON.parse(productCheckbox[index].getAttribute('data'));

        // console.log('inside button...');


        element.order_quantity = quantity.textContent;

        // console.log(element);
        // console.log('outside button....');

        productCheckbox[index].setAttribute('data', JSON.stringify(element));

        insertProductInfo();

        updateProductTotal();
      });
    });
    var increase = document.querySelectorAll('.increase');
    increase.forEach(button => {
      button.addEventListener('click', event => {
        var index = button.getAttribute('data-index');
        var quantity = document.querySelectorAll('.quantity-det')[index];
        if (quantity.textContent < 10) quantity.textContent++;

        var productPrice = document.querySelectorAll('.product-price')[index].getAttribute('data-product-price');
        var productPriceTotal = parseInt(quantity.textContent) * parseInt(productPrice);

        document.querySelectorAll('.product-price')[index].textContent = productPriceTotal;
        // productTotal += productPriceTotal;

        let element = JSON.parse(productCheckbox[index].getAttribute('data'));

        // console.log('inside button...');


        element.order_quantity = quantity.textContent;

        // console.log(element);
        // console.log('outside button....');

        productCheckbox[index].setAttribute('data', JSON.stringify(element));

        insertProductInfo();
        updateProductTotal();
      });
    });
    function updateProductTotal() {

      productTotal = 0;
      productCheckbox.forEach((check) => {
        if (check.checked) {
          index = check.getAttribute('data-index');

          var productPrices = document.querySelectorAll('.product-price')[index];
          productTotal += parseFloat(productPrices.textContent);
        }
      });


      // productTotal = 0;
      // var productPrices = document.querySelectorAll('.product-price');
      // productPrices.forEach(price => {
      //   productTotal += parseInt(price.textContent);
      // });
      document.getElementById('total-price-div').textContent = productTotal;
      let vat = productTotal * 0.15;
      document.getElementById('vat').textContent = vat;
      let shipping = 20;
      document.getElementById('shipping').textContent = shipping;
      let allTotal = productTotal + shipping + vat;
      document.getElementById('all-total').textContent = allTotal;
    }

    function insertProductInfo() {
      let proInfo = [];
      productCheckbox.forEach((check) => {
        if (check.checked) {
          // var index = check.getAttribute('data-index');
          var element = check.getAttribute('data');
          // console.log(element);
          proInfo.push(JSON.parse(element));
        }
      })
      // console.log('inside checkbox...');
      // console.log(proInfo);
      document.getElementById('hiddenData').value = JSON.stringify(proInfo);
    }

    // var initialProductPrices = document.querySelectorAll('.product-price');
    // initialProductPrices.forEach((price, index) => {
    //   var productPrice = price.getAttribute('data-product-price');
    //   var quantity = document.querySelectorAll('.quantity-det')[index].textContent;
    //   productTotal += parseInt(quantity) * parseInt(productPrice);
    // });

    // document.getElementById('total-price-div').textContent = productTotal;


    // let totalPrice=parseFloat(document.getElementById('total-price').value);

    // let requiredPrice={
    //   'totalPrice':totalPrice,
    //   'vat':vat,
    //   'allTotal':allTotal
    // }



    // productCheckbox.forEach((check,index)=>{
    //   check[index].addEventListener(event=>{

    //   })
    // })

    var button9 = document.getElementById("button9");
    if (button9) {
      button9.addEventListener("click", function (e) {

        let productInfo = document.getElementById('hiddenData').value;
        productInfo = JSON.parse(productInfo);
        console.log(productInfo);
        let productTotal = document.getElementById('total-price-div').textContent;

        let vat = document.getElementById('vat').textContent;

        let shipping = document.getElementById('shipping').textContent;
        let allTotal = document.getElementById('all-total').textContent;

        let requiredPrice = {
          'productInfo': productInfo,
          'productTotal': productTotal,
          'vat': vat,
          'shipping': shipping,
          'allTotal': allTotal
        }

        // console.log(requiredPrice);

        fetch('/checkout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ requiredPrice })
        })
          .then(response => response.json())
          .then(data => {
            console.log(data); // Log the response from the server
          })
          .catch(error => {
            console.error('Error:', error);
          });

        window.location.href = "/checkout";
      });
    }

  </script>
</body>

</html>