<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="assets/global22.css" />
    <link rel="stylesheet" href="assets/manager-homepage-employee.css" />
    <link rel="stylesheet" href="assets/table.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Public Sans:wght@400;500;600;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Slab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Font Awesome 5 Free:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="manager-homepage-employee">
      <div class="divinner">
        <div class="header">
          <img class="header-child" alt="" src="images/rectangle-1@2x.png" />
        </div>
        <div class="divcard-body">
          <div class="employee-info">Employee Info</div>
          <table class="divtable-responsive">
            <div class="grid">
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Employee Contact No</th>
                    <th>Employee Address</th>
                    <th>Employee Age</th>
                    <th>Salary</th>
                    <th>Manager Name</th>
                    <th>Delete employee</th>
                  </tr>
                  <% for (let i = 0; i < data.length; i++) { %>
                    <tr>
                      <td><%= data[i].id %></td>
                      <td><%= data[i].name %></td>
                      <td><%= data[i].email %></td>
                      <td><%= data[i].phone %></td>
                      <td><%= data[i].address %></td>
                      <td><%= data[i].age %></td>
                      <td><%= data[i].salary %></td>
                      <td><%= data[i].mname %></td>
                      <td><form action="/delete-employee" method="POST" onsubmit="return confirmDeleteEmployee(event, '<%= data[i].id %>')">
                        <input type="hidden" id="employeeId" name="employeeId" value="<%= data[i].id %>">
                        <button type="submit">Del</button>
                      </form></td>
                    </tr>
                  <% } %>
          </div>
          </table>
            </div>
          </div>
        </div>
      </div>
      <div class="divsidebar">
        <div class="divinner1">
          <div class="drawer" data-animate-on-scroll>
            <div class="divinner2">
              <div class="nav">
                <div class="header-heading-2">
                  <b class="menu">Menu</b>
                </div>
                <div class="list">
                  <button class="item-link" id="itemLink">Home</button>
                  <button class="item" id="item">
                    <div class="link-generic">PROFILE</div>
                    <img
                      class="vector-icon"
                      alt=""
                      src="images/vector3.svg"
                    />
                  </button>
                  <button class="item1" id="item1">
                    <div class="employee-list" id="employeeListText">
                      EMployee List
                    </div>
                    <img
                      class="vector-icon1"
                      alt=""
                      src="images/vector1.svg"
                    />
                  </button>
                  <button class="item2" id="item2">
                    <div class="link-etiam">medicine</div>
                    <img
                      class="vector-icon2"
                      alt=""
                      src="images/vector1.svg"
                    />
                  </button>
                  <div class="item3">
                    <button class="link-adipiscing" id="linkAdipiscing">
                      DOCTOR INFO
                    </button>
                    <img
                      class="vector-icon3"
                      alt=""
                      src="images/vector1.svg"
                    />
                  </div>
                  <div class="section1">
                    <div class="header-heading-21">
                      <b class="get-in-touch">Get in touch</b>
                    </div>
                    <div class="p"></div>
                    <div class="if-you-have">
                      If you have any problem regarding your pharmacy, then feel
                      free to reach us anytime. Here is our contact info.
                    </div>
                    <div class="list1">
                      <div class="item4">
                        <div class="link">
                          <div class="centralpharmagmailcom">
                            centralpharma@gmail.com
                          </div>
                          <div class="link-child"></div>
                        </div>
                        <div class="div"></div>
                      </div>
                      <div class="item5">
                        <div class="div1"></div>
                        <div class="div2">02-9345678</div>
                      </div>
                      <div class="item6">
                        <div class="div3"></div>
                        <div class="satmashjeed-road-dhaka-1517-container">
                          <span class="satmashjeed-road-dhaka-1517-container1">
                            <p class="satmashjeed-road">
                              123, Satmashjeed Road,
                            </p>
                            <p class="satmashjeed-road">Dhaka-1517</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="item7" id="item3">
                    <div class="link-etiam1">ADD doctors</div>
                    <img
                      class="vector-icon4"
                      alt=""
                      src="images/vector1.svg"
                    />
                  </button>
                  <button class="item9" id="item5">
                    <div class="link-etiam3">add employee</div>
                    <img
                      class="vector-icon6"
                      alt=""
                      src="images/vector1.svg"
                    />
                  </button>
                  <img class="vector-icon7" alt="" src="images/vector2.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
        function confirmDeleteEmployee(event, id) {
            if (!confirm('Are you sure you want to delete this employee ' + id + '?')) {
              event.preventDefault(); // Prevent form submission if user cancels deletion
              return false;
            }
            else
            return true;
          }
      var itemLink = document.getElementById("itemLink");
      if (itemLink) {
        itemLink.addEventListener("click", function (e) {
          window.location.href = "./manager-home";
        });
      }
      
      var item = document.getElementById("item");
      if (item) {
        item.addEventListener("click", function (e) {
          window.location.href = "./manager-profile";
        });
      }
      
      var employeeListText = document.getElementById("employeeListText");
      if (employeeListText) {
        employeeListText.addEventListener("click", function (e) {
          window.location.href = "manager-homepage-employee";
        });
      }
      
      var item1 = document.getElementById("item1");
      if (item1) {
        item1.addEventListener("click", function (e) {
          window.location.href = "manager-homepage-employee";
        });
      }
      
      var item2 = document.getElementById("item2");
      if (item2) {
        item2.addEventListener("click", function (e) {
          window.location.href = "./manager-homepage-medicine";
        });
      }
      
      var linkAdipiscing = document.getElementById("linkAdipiscing");
      if (linkAdipiscing) {
        linkAdipiscing.addEventListener("click", function (e) {
          window.location.href = "./manager-homepage-doctor";
        });
      }
      
      var item3 = document.getElementById("item3");
      if (item3) {
        item3.addEventListener("click", function (e) {
          window.location.href = "./manager-homepage-add-doctor";
        });
      }
   
      
      var item5 = document.getElementById("item5");
      if (item5) {
        item5.addEventListener("click", function (e) {
          window.location.href = "./manager-homepage-add-employee";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
